@import URL("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

td, th {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
}

.fa {
    float: right;
}

a {
    color: tomato
}